<%- include('partials/header'); %>
<h1>home</h1>
<p><%= homeContent %> </p>
<% for (var i=0; i < posts.lenght ; i++) {%>
    <%= console.log(posts[i].postTitle) %>

<% } %> 
<%- include('partials/footer'); %>